div {
    color:blue;
    /*Hello World */
}

.alert {
    color:red;
    /*alert class */
}

#title {
    background-color:black;
    color:yellow;
    /* id test */
}

.subsection.header {
  color: red;
  /* id selector */
}

 .subsection.preview {
    color: forestgreen;
  /* id selector */
 }

/*Grouping Selector*/
.read,
.unread {
  color: white;
  background-color: rgb(98, 81, 81);
}

.read {
    color:green;
  /* several unique declarations */
}

.unread {
    color:red;
  /* several unique declarations */
}

#image {
  height: 400px;
  width: 200px;
}

div {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  color: #EEEEEE;
}

.introduction {
  background-color: #548CA8;
}

.main-content {
  background-color: #476072;
}

.contact-us {
  background-color: #334257;
}